body, html {height: 100%; background-color: #edc4e9;}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(272, 68%, 34%);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Tahoma;
  }
  
  li a:hover {
    background-color: #b95fb0;
  }

  .carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
}




.controles{ 
  display: flex;
  justify-content: center;
  align-items: center;
} 



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(34, 5, 71, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.lenguajesUtilizados {
  color: rgb(141, 47, 133);
  font-weight: bold;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: hsl(272, 68%, 34%);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #b95fb0;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.estiloImagen{
  width:100%
}

.títuloTipo{
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(102, 82, 192);
}




input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}

.fondoFormulario {
  border-radius: 5px;
  background-color: hsl(272, 68%, 34%);
  padding: 20px;
  color: azure;
}

.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #b95fb0;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button2:hover {
  background-color: lightblue;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

textarea:focus {
  background-color: lightblue;
}



body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: hsl(272, 68%, 34%);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #b95fb0;
}




.img {
  float: right;
  border-radius: 20%;
  width: 40%;
}

.borde{
  border: 10px solid #b95fb0;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.moradito {
  color: rgb(141, 47, 133);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rosita {
  color: rgb(186, 51, 110);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

